#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/php-phpimap/usr/share/php/PhpImap/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \
		debian/php-phpimap/usr/share/php/PhpImap/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \
		debian/php-phpimap/usr/share/php/PhpImap/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/php-phpimap/usr/share/php/PhpImap/autoload.php
